# Update Atlas catalog v01

date: 2025-11-25

Add `v01/` folder to path and URL.

In [1]:
import intake
import pandas as pd

In [2]:
cat_url = "https://raw.githubusercontent.com/cp4cds/c3s_34g_manifests/master/intake/catalogs/c3s.yaml"

cat = intake.open_catalog(cat_url)
list(cat)

['c3s-cmip5',
 'c3s-cmip5-daily-pressure-level',
 'c3s-cmip5-daily-single-level',
 'c3s-cmip5-monthly-pressure-level',
 'c3s-cmip5-monthly-single-level',
 'c3s-cmip6',
 'c3s-cmip6-decadal',
 'c3s-cordex',
 'c3s-ipcc-atlas',
 'c3s-cica-atlas-v01',
 'c3s-cica-atlas']

## Load atlas catalog

In [3]:
df_atlas_v01 = cat['c3s-cica-atlas-v01'].read()
df_atlas_v01

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
0,c3s-cica-atlas.pr.CMIP5.historical.mon.v1,v1,CMIP5/historical/pr_CMIP5_historical_mon_18500...,NaN,CMIP5,Global,historical,mon,pr,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cica-atlas.prsn.CMIP5.historical.mon.v1,v1,CMIP5/historical/prsn_CMIP5_historical_mon_185...,NaN,CMIP5,Global,historical,mon,prsn,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cica-atlas.rx1day.CMIP5.historical.mon.v1,v1,CMIP5/historical/rx1day_CMIP5_historical_mon_1...,NaN,CMIP5,Global,historical,mon,rx1day,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cica-atlas.rx5day.CMIP5.historical.mon.v1,v1,CMIP5/historical/rx5day_CMIP5_historical_mon_1...,NaN,CMIP5,Global,historical,mon,rx5day,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cica-atlas.sfcwind.CMIP5.historical.mon.v1,v1,CMIP5/historical/sfcwind_CMIP5_historical_mon_...,NaN,CMIP5,Global,historical,mon,sfcwind,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,c3s-cica-atlas.tx40.ERA5.mon.v1,v1,ERA5/tx40_ERA5_mon_194001-202212.nc,NaN,ERA5,Global,NaN,mon,tx40,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
408,c3s-cica-atlas.txx.ERA5.mon.v1,v1,ERA5/txx_ERA5_mon_194001-202212.nc,NaN,ERA5,Global,NaN,mon,txx,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
409,c3s-cica-atlas.tx.ERA5.mon.v1,v1,ERA5/tx_ERA5_mon_194001-202212.nc,NaN,ERA5,Global,NaN,mon,tx,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
410,c3s-cica-atlas.siconc.ORAS5.mon.v1,v1,ORAS5/siconc_ORAS5_mon_195801-201412.nc,NaN,ORAS5,Global,NaN,mon,siconc,1958-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
411,c3s-cica-atlas.sst.ORAS5.mon.v1,v1,ORAS5/sst_ORAS5_mon_195801-201412.nc,NaN,ORAS5,Global,NaN,mon,sst,1958-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [4]:
df_atlas_v01.nunique()

ds_id             412
version             1
path              412
size                0
project             8
domain              4
experiment          8
time_frequency      2
variable           30
start_time          7
end_time            5
bbox                0
level               0
url               412
dtype: int64

## Update URL

In [5]:
df_atlas_v01.url[0]

'https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cica-atlas/CMIP5/historical/pr_CMIP5_historical_mon_185001-200512.nc'

In [6]:
# add v01/ folder

df_atlas_v01["url"] = df_atlas_v01["url"].str.replace("/esg_c3s-cica-atlas/", "/esg_c3s-cica-atlas/v01/", regex=False)

df_atlas_v01.url[0]

'https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cica-atlas/v01/CMIP5/historical/pr_CMIP5_historical_mon_185001-200512.nc'

In [7]:
# use _v01.nc suffix

df_atlas_v01["url"] = df_atlas_v01["url"].str.replace(".nc", "_v01.nc", regex=False)

df_atlas_v01.url[0]

'https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cica-atlas/v01/CMIP5/historical/pr_CMIP5_historical_mon_185001-200512_v01.nc'

## Update Path

In [8]:
df_atlas_v01.path[0]

'CMIP5/historical/pr_CMIP5_historical_mon_185001-200512.nc'

In [9]:
df_atlas_v01["path"] = df_atlas_v01["url"].str.replace("https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cica-atlas/", "", regex=False)

df_atlas_v01.path[0]

'v01/CMIP5/historical/pr_CMIP5_historical_mon_185001-200512_v01.nc'

## Show updated catalog

In [10]:
df_atlas_v01

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
0,c3s-cica-atlas.pr.CMIP5.historical.mon.v1,v1,v01/CMIP5/historical/pr_CMIP5_historical_mon_1...,NaN,CMIP5,Global,historical,mon,pr,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cica-atlas.prsn.CMIP5.historical.mon.v1,v1,v01/CMIP5/historical/prsn_CMIP5_historical_mon...,NaN,CMIP5,Global,historical,mon,prsn,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cica-atlas.rx1day.CMIP5.historical.mon.v1,v1,v01/CMIP5/historical/rx1day_CMIP5_historical_m...,NaN,CMIP5,Global,historical,mon,rx1day,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cica-atlas.rx5day.CMIP5.historical.mon.v1,v1,v01/CMIP5/historical/rx5day_CMIP5_historical_m...,NaN,CMIP5,Global,historical,mon,rx5day,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cica-atlas.sfcwind.CMIP5.historical.mon.v1,v1,v01/CMIP5/historical/sfcwind_CMIP5_historical_...,NaN,CMIP5,Global,historical,mon,sfcwind,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,c3s-cica-atlas.tx40.ERA5.mon.v1,v1,v01/ERA5/tx40_ERA5_mon_194001-202212_v01.nc,NaN,ERA5,Global,NaN,mon,tx40,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
408,c3s-cica-atlas.txx.ERA5.mon.v1,v1,v01/ERA5/txx_ERA5_mon_194001-202212_v01.nc,NaN,ERA5,Global,NaN,mon,txx,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
409,c3s-cica-atlas.tx.ERA5.mon.v1,v1,v01/ERA5/tx_ERA5_mon_194001-202212_v01.nc,NaN,ERA5,Global,NaN,mon,tx,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
410,c3s-cica-atlas.siconc.ORAS5.mon.v1,v1,v01/ORAS5/siconc_ORAS5_mon_195801-201412_v01.nc,NaN,ORAS5,Global,NaN,mon,siconc,1958-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
411,c3s-cica-atlas.sst.ORAS5.mon.v1,v1,v01/ORAS5/sst_ORAS5_mon_195801-201412_v01.nc,NaN,ORAS5,Global,NaN,mon,sst,1958-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

## Write new Catalog

In [11]:
import datetime

last_updated = datetime.datetime.now(datetime.UTC)
version = last_updated.strftime('v%Y%m%d')
cat_name = f"c3s-cica-atlas-v01_{version}.csv.gz"
cat_path = f"../intake/catalogs/c3s-atlas/{cat_name}"

df_atlas_v01.to_csv(cat_path, index=False, compression="gzip")