# Update Atlas catalog

add `prefix` column to atlas catalog.

In [1]:
import intake
import pandas as pd

In [2]:
cat_url = "https://raw.githubusercontent.com/cp4cds/c3s_34g_manifests/master/intake/catalogs/c3s.yaml"

cat = intake.open_catalog(cat_url)
list(cat)

['c3s-cmip5',
 'c3s-cmip5-daily-pressure-level',
 'c3s-cmip5-daily-single-level',
 'c3s-cmip5-monthly-pressure-level',
 'c3s-cmip5-monthly-single-level',
 'c3s-cmip6',
 'c3s-cmip6-r3',
 'c3s-cmip6-decadal',
 'c3s-cmip6-decadal-dwd',
 'c3s-cordex',
 'c3s-ipcc-atlas']

## Load atlas catalog

In [3]:
df_atlas = cat['c3s-ipcc-atlas'].read()
df_atlas

,ds_id,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level
0,c3s-ipcc-atlas.fd.CMIP5.rcp45.mon,CMIP5/rcp45/fd_CMIP5_rcp45_mon_200601-210012.nc,206830356,CMIP5,NaN,rcp45,mon,fd,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00
1,c3s-ipcc-atlas.tnn.CMIP5.rcp45.mon,CMIP5/rcp45/tnn_CMIP5_rcp45_mon_200601-210012.nc,899056159,CMIP5,NaN,rcp45,mon,tnn,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00
2,c3s-ipcc-atlas.tx40.CMIP5.rcp45.mon,CMIP5/rcp45/tx40_CMIP5_rcp45_mon_200601-210012.nc,52647634,CMIP5,NaN,rcp45,mon,tx40,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00
3,c3s-ipcc-atlas.tx35ba.CMIP5.rcp45.mon,CMIP5/rcp45/tx35ba_CMIP5_rcp45_mon_200601-2100...,40939549,CMIP5,NaN,rcp45,mon,tx35ba,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00
4,c3s-ipcc-atlas.rx1day.CMIP5.rcp45.mon,CMIP5/rcp45/rx1day_CMIP5_rcp45_mon_200601-2100...,1002850075,CMIP5,NaN,rcp45,mon,rx1day,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
858,c3s-ipcc-atlas.tx35.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/tx35_CORDEX-WAS_rcp85_mon_200...,315822711,CORDEX,WAS,rcp85,mon,tx35,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",2.00
859,c3s-ipcc-atlas.spi6.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/spi6_CORDEX-WAS_rcp85_mon_200...,877566524,CORDEX,WAS,rcp85,mon,spi6,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",NaN
860,c3s-ipcc-atlas.rx5day.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/rx5day_CORDEX-WAS_rcp85_mon_2...,1107127612,CORDEX,WAS,rcp85,mon,rx5day,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",NaN
861,c3s-ipcc-atlas.tn.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/tn_CORDEX-WAS_rcp85_mon_20060...,853394968,CORDEX,WAS,rcp85,mon,tn,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",2.00
862,c3s-ipcc-atlas.tx40ba.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/tx40ba_CORDEX-WAS_rcp85_mon_2...,70997195,CORDEX,WAS,rcp85,mon,tx40ba,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",2.00

In [4]:
df_atlas.nunique()

ds_id             863
path              863
size              863
project             3
domain             11
experiment          8
time_frequency      2
variable           22
start_time          5
end_time            7
bbox               14
level               2
dtype: int64

## Add new column: prefix

In [5]:
df_atlas['prefix'] = df_atlas["ds_id"].apply(lambda x: x.split('.')[0])
df_atlas.nunique()

ds_id             863
path              863
size              863
project             3
domain             11
experiment          8
time_frequency      2
variable           22
start_time          5
end_time            7
bbox               14
level               2
prefix              1
dtype: int64

## Show new catalog

In [6]:
df_atlas.head()

,ds_id,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,prefix
0,c3s-ipcc-atlas.fd.CMIP5.rcp45.mon,CMIP5/rcp45/fd_CMIP5_rcp45_mon_200601-210012.nc,206830356,CMIP5,NaN,rcp45,mon,fd,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
1,c3s-ipcc-atlas.tnn.CMIP5.rcp45.mon,CMIP5/rcp45/tnn_CMIP5_rcp45_mon_200601-210012.nc,899056159,CMIP5,NaN,rcp45,mon,tnn,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
2,c3s-ipcc-atlas.tx40.CMIP5.rcp45.mon,CMIP5/rcp45/tx40_CMIP5_rcp45_mon_200601-210012.nc,52647634,CMIP5,NaN,rcp45,mon,tx40,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
3,c3s-ipcc-atlas.tx35ba.CMIP5.rcp45.mon,CMIP5/rcp45/tx35ba_CMIP5_rcp45_mon_200601-2100...,40939549,CMIP5,NaN,rcp45,mon,tx35ba,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
4,c3s-ipcc-atlas.rx1day.CMIP5.rcp45.mon,CMIP5/rcp45/rx1day_CMIP5_rcp45_mon_200601-2100...,1002850075,CMIP5,NaN,rcp45,mon,rx1day,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",NaN,c3s-ipcc-atlas

## Write new Catalog

In [7]:
from datetime import datetime

last_updated = datetime.now().utcnow()
version = last_updated.strftime('v%Y%m%d')
cat_name = f"c3s-ipcc-atlas_{version}.csv.gz"
cat_path = f"../intake/catalogs/c3s-atlas/{cat_name}"

df_atlas.to_csv(cat_path, index=False, compression="gzip")