# Build intake catalog for CORDEX datasets

date: 2025.07.12

In [1]:
import pandas as pd
import numpy as np

In [2]:
## load manifest

df = pd.read_csv("../cordex/IPSL_manifest_C3S_CORDEX_20250709.txt.gz", names=["url"])
df

                                                      url
0       https://data.mips.climate.copernicus.eu/thredd...
1       https://data.mips.climate.copernicus.eu/thredd...
2       https://data.mips.climate.copernicus.eu/thredd...
3       https://data.mips.climate.copernicus.eu/thredd...
4       https://data.mips.climate.copernicus.eu/thredd...
...                                                   ...
568400  https://data.mips.climate.copernicus.eu/thredd...
568401  https://data.mips.climate.copernicus.eu/thredd...
568402  https://data.mips.climate.copernicus.eu/thredd...
568403  https://data.mips.climate.copernicus.eu/thredd...
568404  https://data.mips.climate.copernicus.eu/thredd...

[568405 rows x 1 columns]

In [3]:
df.url[0]

'https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cordex/output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i1p1/UQAM-CRCM5/v1/fx/sftlf/v20200915/sftlf_ARC-44_ECMWF-ERAINT_evaluation_r1i1p1_UQAM-CRCM5_v1_fx.nc'

In [4]:
## build new dataframe

df_new = pd.DataFrame(columns = [
    'ds_id',
    'path',
    'size',
    'project',
    'domain',
    'institute',
    'driving_model',
    'experiment_id',
    'ensemble',
    'rcm_name',
    'rcm_version',
    'time_frequency',
    'variable',
    'version',   
    'start_time',
    'end_time',
    'bbox',
    'level',
    'url'
])
df_new

Empty DataFrame
Columns: [ds_id, path, size, project, domain, institute, driving_model, experiment_id, ensemble, rcm_name, rcm_version, time_frequency, variable, version, start_time, end_time, bbox, level, url]
Index: []

In [5]:
df_new["url"] = df["url"]
df_new.head()

,ds_id,path,size,project,domain,institute,driving_model,experiment_id,ensemble,rcm_name,rcm_version,time_frequency,variable,version,start_time,end_time,bbox,level,url
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [6]:
df_new["path"] = df_new["url"].str.replace("https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cordex/", "", regex=False)
df_new.head()

,ds_id,path,size,project,domain,institute,driving_model,experiment_id,ensemble,rcm_name,rcm_version,time_frequency,variable,version,start_time,end_time,bbox,level,url
0,NaN,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,NaN,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,NaN,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,NaN,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,NaN,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [7]:
df_new.path[0]

'output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i1p1/UQAM-CRCM5/v1/fx/sftlf/v20200915/sftlf_ARC-44_ECMWF-ERAINT_evaluation_r1i1p1_UQAM-CRCM5_v1_fx.nc'

In [8]:
# 'c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES.rcp85.r1i1p1.MOHC-HadREM3-GA7-05.v1.mon.tas.v20200330'


df_new["ds_id"] = df_new["path"].apply(lambda x: 'c3s-cordex.' + '.'.join(x.split('/')[0:-1]))
df_new.head()

,ds_id,path,size,project,domain,institute,driving_model,experiment_id,ensemble,rcm_name,rcm_version,time_frequency,variable,version,start_time,end_time,bbox,level,url
0,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [9]:
df_new.ds_id[0]

'c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.evaluation.r1i1p1.UQAM-CRCM5.v1.fx.sftlf.v20200915'

In [10]:
import re
import calendar
from datetime import datetime
from typing import Optional, Tuple

# Updated patterns: most specific first
patterns = [
    (r"(\d{12})-(\d{12})", "%Y%m%d%H%M"),  # minute-level
    (r"(\d{10})-(\d{10})", "%Y%m%d%H"),    # hourly
    (r"(\d{8})-(\d{8})", "%Y%m%d"),        # daily
    (r"(\d{6})-(\d{6})", "%Y%m"),          # monthly
]

def last_day_of_month(dt: datetime) -> datetime:
    _, last_day = calendar.monthrange(dt.year, dt.month)
    return dt.replace(day=last_day)

def parse_date_range(filename: str) -> Tuple[Optional[str], Optional[str]]:
    for pattern, date_format in patterns:
        match = re.search(pattern, filename)
        if match:
            start_str, end_str = match.groups()
            start = datetime.strptime(start_str, date_format)
            end = datetime.strptime(end_str, date_format)

            # Only adjust end to end-of-month for date-based formats
            if date_format in ("%Y%m", "%Y%m%d"):
                end = last_day_of_month(end)

            return start.isoformat(), end.isoformat()
    return "", ""  # fx or no time range

In [11]:

def get_project(ds_id):
    value = ds_id.split('.')[0]
    return value

def get_domain(ds_id):
    value = ds_id.split(".")[2]
    return value

def get_institute(ds_id):
    value = ds_id.split(".")[3]
    return value

def get_driving_model(ds_id):
    value = ds_id.split(".")[4]
    return value

def get_experiment_id(ds_id):
    value = ds_id.split(".")[5]
    return value

def get_ensemble(ds_id):
    value = ds_id.split(".")[6]
    return value

def get_rcm_name(ds_id):
    value = ds_id.split(".")[7]
    return value

def get_rcm_version(ds_id):
    value = ds_id.split(".")[8]
    return value

def get_time_frequency(ds_id):
    value = ds_id.split(".")[9]
    return value

def get_variable(ds_id):
    value = ds_id.split(".")[10]
    return value

def get_version(ds_id):
    value = ds_id.split('.')[11]
    return value
    
def get_start_time(path):
    start, end = parse_date_range(path)
    return start

def get_end_time(path):
    start, end = parse_date_range(path)
    return end

In [12]:
df_new['project'] = df_new["ds_id"].apply(get_project)
df_new['domain'] = df_new["ds_id"].apply(get_domain)
df_new['institute'] = df_new["ds_id"].apply(get_institute)
df_new['driving_model'] = df_new["ds_id"].apply(get_driving_model)
df_new['experiment_id'] = df_new["ds_id"].apply(get_experiment_id)
df_new['ensemble'] = df_new["ds_id"].apply(get_ensemble)
df_new['rcm_name'] = df_new["ds_id"].apply(get_rcm_name)
df_new['rcm_version'] = df_new["ds_id"].apply(get_rcm_version)
df_new['time_frequency'] = df_new["ds_id"].apply(get_time_frequency)
df_new['variable'] = df_new["ds_id"].apply(get_variable)
df_new['version'] = df_new['ds_id'].apply(get_version)
df_new['start_time'] = df_new["path"].apply(get_start_time)
df_new['end_time'] = df_new["path"].apply(get_end_time)
df_new.head()

,ds_id,path,size,project,domain,institute,driving_model,experiment_id,ensemble,rcm_name,rcm_version,time_frequency,variable,version,start_time,end_time,bbox,level,url
0,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,c3s-cordex,ARC-44,UQAM,ECMWF-ERAINT,evaluation,r1i1p1,UQAM-CRCM5,v1,fx,sftlf,v20200915,,,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,c3s-cordex,ARC-44,UQAM,ECMWF-ERAINT,evaluation,r1i1p1,UQAM-CRCM5,v1,fx,orog,v20200915,,,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,c3s-cordex,ARC-44,UQAM,ECMWF-ERAINT,evaluation,r1i1p1,UQAM-CRCM5,v1,day,clt,v20200915,1981-01-01T00:00:00,1985-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,c3s-cordex,ARC-44,UQAM,ECMWF-ERAINT,evaluation,r1i1p1,UQAM-CRCM5,v1,day,clt,v20200915,1991-01-01T00:00:00,1995-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cordex.output.ARC-44.UQAM.ECMWF-ERAINT.eva...,output/ARC-44/UQAM/ECMWF-ERAINT/evaluation/r1i...,NaN,c3s-cordex,ARC-44,UQAM,ECMWF-ERAINT,evaluation,r1i1p1,UQAM-CRCM5,v1,day,clt,v20200915,2001-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

## show values

In [13]:
df_new.nunique()

ds_id              23488
path              568405
size                   0
project                1
domain                27
institute             39
driving_model         17
experiment_id          5
ensemble               6
rcm_name              56
rcm_version           11
time_frequency         6
variable              25
version              144
start_time          1150
end_time            2017
bbox                   0
level                  0
url               568405
dtype: int64

In [14]:
ds_ids = list(df_new["ds_id"].unique())
ds_ids.sort()
ds_ids[0:10]

['c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.clt.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.evspsbl.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.huss.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.pr.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.ps.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.psl.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.rlds.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.rsds.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.sfcWind.v20201015',
 'c3s-cordex.output.AFR-22.CCCma.CCCma-CanESM2.historical.r1i1p1.CCCma-CanRCM4.r2.day.tas.v20201015']

In [15]:
paths = list(df_new["path"].unique())
paths.sort()
paths[0:10]

['output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19500101-19501231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19510101-19551231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19560101-19601231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19610101-19651231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19660101-19701231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19710101-19751231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19760101-19801231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19810101-19851231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19860101-19901231.nc',
 'output/AFR-22/CCCma/CCCma-CanESM2/historical/r1i1p1/CCCma-CanRCM4/r2/day/clt/v20201015/clt_AFR-22_CCCma-CanESM2_historical_r1i1p1_CCCma-CanRCM4_r2_day_19910101-19951231.nc']

In [16]:
versions = list(df_new["version"].unique())
versions.sort()
versions[0:10]

['v20131026',
 'v20131119',
 'v20140218',
 'v20140313',
 'v20140319',
 'v20140324',
 'v20140402',
 'v20140515',
 'v20140620',
 'v20140826']

In [17]:
list(df_new.project.unique())

['c3s-cordex']

In [18]:
list(df_new.domain.unique())

['ARC-44',
 'ARC-22',
 'SAM-22',
 'NAM-44',
 'AUS-44',
 'ANT-44',
 'MED-44',
 'AFR-44',
 'MNA-44',
 'EAS-22',
 'MED-11',
 'AUS-44i',
 'WAS-22',
 'NAM-22',
 'CAS-44',
 'WAS-44',
 'EUR-11',
 'CAS-22',
 'SAM-20',
 'SEA-22',
 'AUS-22',
 'CAM-44',
 'CAM-22',
 'SAM-44',
 'MNA-22',
 'EAS-44',
 'AFR-22']

In [19]:
list(df_new.driving_model.unique())

['ECMWF-ERAINT',
 'CCCma-CanESM2',
 'MPI-M-MPI-ESM-MR',
 'MPI-M-MPI-ESM-LR',
 'ICHEC-EC-EARTH',
 'NCC-NorESM1-M',
 'MOHC-HadGEM2-ES',
 'NOAA-GFDL-GFDL-ESM2M',
 'CSIRO-BOM-ACCESS1-0',
 'CSIRO-BOM-ACCESS1-3',
 'IPSL-IPSL-CM5A-MR',
 'CNRM-CERFACS-CNRM-CM5',
 'MIROC-MIROC5',
 'IPSL-IPSL-CM5A-LR',
 'NOAA-GFDL-GFDL-ESM2G',
 'CSIRO-QCCCE-CSIRO-Mk3-6-0',
 'NCAR-CCSM4']

In [20]:
list(df_new.experiment_id.unique())

['evaluation', 'rcp85', 'historical', 'rcp45', 'rcp26']

In [21]:
list(df_new.ensemble.unique())

['r1i1p1', 'r0i0p0', 'r12i1p1', 'r3i1p1', 'r2i1p1', 'r6i1p1']

In [22]:
list(df_new.rcm_name.unique())

['UQAM-CRCM5',
 'UQAM-CRCM5-SN',
 'BCCR-WRF331',
 'CCCma-CanRCM4',
 'MGO-RRCM',
 'ULg-MAR36',
 'SMHI-RCA4',
 'SMHI-RCA4-SN',
 'AWI-HIRHAM5',
 'DMI-HIRHAM5',
 'ICTP-RegCM4-7',
 'GERICS-REMO2015',
 'ISU-RegCM4',
 'NCAR-RegCM4',
 'NCAR-WRF',
 'UA-WRF',
 'UNSW-WRF360K',
 'UNSW-WRF360L',
 'UNSW-WRF360J',
 'CLMcom-CCLM4-8-17-CLM3-5',
 'KNMI-RACMO21P',
 'ULg-MAR311',
 'GUF-CCLM4-8-18',
 'LMD-LMDZ4NEMOMED8',
 'ICTP-RegCM4-3',
 'ELU-RegCM4-3',
 'CNRM-ALADIN52',
 'CMCC-CCLM4-8-19',
 'MPI-CSC-REMO2009',
 'GERICS-REMO2009',
 'CLMcom-CCLM4-8-17',
 'KNMI-RACMO22T',
 'BOUN-RegCM4-3',
 'CYI-WRF351',
 'ICTP-RegCM4-4',
 'CSIRO-CCAM-2008',
 'ORNL-RegCM4-7',
 'CLMcom-ETH-COSMO-crCLIM-v1-1',
 'OURANOS-CRCM5',
 'IITM-RegCM4-4',
 'MOHC-HadRM3P',
 'ICTP-RegCM4-6',
 'CLMcom-BTU-CCLM4-8-17',
 'IPSL-WRF381P',
 'CNRM-ALADIN63',
 'CNRM-ALADIN53',
 'UHOH-WRF361H',
 'KNMI-RACMO22E',
 'MOHC-HadREM3-GA7-05',
 'RMIB-UGent-ALARO-0',
 'INPE-Eta',
 'RU-CORE-RegCM4-3',
 'CLMcom-HZG-CCLM5-0-15',
 'UCAN-WRF341I',
 'CLMcom-CCLM5-0-2',
 'CLMcom-KIT-CCLM5-0-15']

In [23]:
list(df_new.rcm_version.unique())

['v1', 'r2', 'v2', 'v0', 'v4-4-rc8', 'v3-5-1', 'v7', 'v4', 'v5', 'v1a', 'v3']

In [24]:
list(df_new.time_frequency.unique())

['fx', 'day', 'mon', '6hr', '3hr', 'sem']

In [25]:
list(df_new.variable.unique())

['sftlf',
 'orog',
 'clt',
 'uas',
 'rlds',
 'pr',
 'psl',
 'ps',
 'rsds',
 'tasmax',
 'huss',
 'vas',
 'tas',
 'tasmin',
 'sfcWind',
 'evspsbl',
 'hurs',
 'ua850',
 'rsus',
 'va850',
 'zg500',
 'mrro',
 'ua200',
 'va200',
 'ta200']

In [26]:
start_times = list(df_new.start_time.unique())
start_times.sort()
start_times[0:10]

['',
 '1948-01-02T00:00:00',
 '1948-02-01T00:00:00',
 '1948-03-01T00:00:00',
 '1949-01-01T00:00:00',
 '1949-01-01T01:30:00',
 '1949-01-01T03:00:00',
 '1949-03-01T00:00:00',
 '1949-12-01T00:00:00',
 '1950-01-01T00:00:00']

In [27]:
end_times = list(df_new.end_time.unique())
end_times.sort()
end_times[-10:-1]

['2100-11-30T22:30:00',
 '2100-12-01T00:00:00',
 '2100-12-30T21:00:00',
 '2100-12-30T22:30:00',
 '2100-12-31T00:00:00',
 '2100-12-31T18:00:00',
 '2100-12-31T21:00:00',
 '2100-12-31T22:00:00',
 '2100-12-31T22:30:00']

## Write new catalog

In [28]:
from datetime import datetime

last_updated = datetime.now().utcnow()
version = last_updated.strftime('v%Y%m%d')
cat_name = f"c3s-cordex_{version}.csv.gz"
cat_path = f"../intake/catalogs/c3s-cordex/{cat_name}"

df_new.to_csv(cat_path, index=False, compression="gzip")

/var/folders/5f/t661zdnd181ck1dv429s4p8r0000gn/T/ipykernel_39408/3625569567.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  last_updated = datetime.now().utcnow()